*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  background: rgba(238, 238, 238, 0.4)
}

.nav{
  font-style: normal;
font-weight: 400;
font-size: 14px;
color: #666666;

}
.horizontal{
  border: 1px solid #AAAAAA;
  width:100%;
  
 }
.nav a{
  text-decoration: none;
  color: #666666;
}
.sidenav{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #666666;
}
.sidenav a{
  text-decoration: none;
  color: #666666;
}
.side{
  display: flex;
  display: none;
 

}

.sidebar{
  width: 197px;
height: 184px;
z-index: 0;
background: #FFFFFF;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.184);
border-radius: 4px;
padding: 16px;
}
.btn4{
  padding: 6px 45px;
  font-weight: 400;
  font-size: 12px;
  white-space: nowrap;
  background: #FFFFFF;
      color: #48BC25;
    cursor: pointer;
    border: 3px solid #48BC25;
    border-radius: 3.5px;
}
.hamburger{
  
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
  cursor: pointer;
}
.bar{
  height: 2px;
  width: 22px;
  border: 2px solid #542dff;
  margin-right: 19px;
  margin-bottom: 4px;
  border-radius: 5px;
  background-color:#542dff;
}
.btn{
  border: 3px solid #48BC25;
  border-radius: 3.5px;
  padding: 6px 20px;
  background: #FFFFFF;
  color: #48BC25;
  cursor: pointer;
  /* margin-top: 10px; */
}
.circles{
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}
.circle{
  display: flex;
  justify-content: center;
}
.microscope {
  position: absolute;
  top: 35px;
  left: 12px;
}
.line{
  position: absolute;
  top: 46px;
  left: 23px;
}
.viewall{
  font-weight: 400;
font-size: 14px;
color: rgba(54, 92, 246, 0.98);
text-align: center;
margin-top: 16px;
margin-bottom: 35px;
}
.circle2{
  cursor: pointer;
  margin-left: 10px;
}
.trust{
  height: 800px;
  background-color:#FFFFFF;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.trusting{
  max-width:1128px;
  width: 100%;
 
}
.truste{
  width: 100%;
  height: 100%;
  
  margin-top: 70px;
  max-width: 706px;
  max-height: 455px;
  
}
.los{
  font-weight: 400;
font-size: 14px;
line-height: 18px;
color: #666666
}
.jill{
  line-height: 45px;
  font-weight: 700;
font-size: 20px;
}
.firstbottomtext{
  max-width: 354px;
  max-height: 139px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgb(102 102 102 / 20%);
  border-radius: 4px;
  padding: 16px;
  position: absolute;
  width: 100%;
  height: 100%;
  right: 200px;
}
 .upper{
  font-weight: 400;
font-size: 16px;
color: #333333;
}
.firstbottomtext1{
  max-width: 354px;
    max-height: 139px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgb(102 102 102 / 20%);
    border-radius: 4px;
    padding: 16px;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 625px;
    top: 237px;
}
.firstbottomtext2{
  max-width: 354px;
  max-height: 139px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgb(102 102 102 / 20%);
  border-radius: 4px;
  padding: 16px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 468px;
  right: 200px;
}
.innertrust{
  display: flex;
  position: relative;
  justify-content: flex-end;
  
}
.trusttext{
  max-width: 480px;
    max-height: 100px;
    margin-top: 44px;
    width: 100%;
    height: 100%;
}
.trusttext1{
  font-weight: 700;
font-size: 40px;

}
.trusttext2{
  font-weight: 500;
font-size: 37px;
margin-left: 10px;
}
.topper{
  display: flex;
  justify-content: center;
  padding: 20px;
  /* height: 500px; */
  background: #FFFFFF;
}
.outersection1{
  display: flex;
  justify-content: center;
  padding: 20px;
}
.outersection{
  border-top: 1px solid #AAAAAA;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.innertopper{
  max-width: 1128px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px;
  
}
.toptext{
  max-width: 400px;
  width: 100%;
  height: 258px;
  color: #666666;
  
}
/* .flame3{
  position: absolute;
  top: 63.86px;
  left: 252px;
    right: 69.26px;
    bottom: 285px;
    width: 152.55px;
    height: 152.55px;
    z-index: -1;
} */
/* .flame2{
  top: 323px;
  position: absolute;
  left: 365px;
  width: 187.71px;
    height: 187.71px;
    z-index: -1;
} */
/* .family{
  height: 514px;
  z-index: 0;
} */
.topimg{
  
  max-width: 561px;
  width: 100%;
 
}
.specificword{
  color: #2354af;
}
/* .flame1{
  position: absolute;
  top: 110px;
  right: 323px;
  width: 288px;
  z-index: -1;
  height: 277px;
} */
.innertext{
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  white-space: nowrap;
  color: #333333;
  margin-bottom: 16px;
}
.inner2text{
  
  font-weight: 800;
 
}
.logo{
  font-size: 20px;
    font-weight: 500;
}
 .icon{
  margin-left: 63px;
}
ul{
  list-style-type: none;
}
.container1{
    
    
    padding:32px 31px;
    background: #FFFFFF;
    display: flex;
    
    align-items: center;
   
    border-radius: 4px;
}
.boxes{
  margin-bottom: 44px;
  margin-top: 24px;
 
  max-width:1128px;
  width: 100%;
  display: flex;
  
  justify-content: space-between;
  
  
}
/* .circle{

} */
.text{
  
  max-width: 500px;
    width: 100%;
    margin-left: 32px;
   
}
.navbar{
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  height: 64px;
  padding: 15px 24px;
}
.search .icon2{
  margin-bottom: 13px;
}

.navbar ul{
  display: flex;
  align-items: center;
}
.navbar ul li{
  margin-left: 32px;
}
.sidenav  li{
  margin-bottom: 12px;
}
.ligroup{
  display: flex;
}
.ligroup li:nth-last-child(1){
  margin-left: 10px;
}
.navbar ul li:nth-last-child(1){
  margin-left: 10px;
}
.section{
  padding-top: 24px;
  max-width : 1128px;
  width:100%;
}
.section .container1{
   margin-top: 24px;

}



.box{
  flex: 1;
  background-color: #FFFFFF;
  border-radius: 4px;
  margin-right: 16px;
  padding:20px 24px;
  white-space: nowrap;
  width: 100%;
  max-width:264px;
}
.image{
 flex: 0 0 40%;
  border-radius: 3px;
  max-width: 533px;
  width: 100%;
  max-height: 300px;
  height: 100%;
  
}

 .box:nth-child(4){
  margin-right: 0;
}
.search{
  background-color: #2354af;
height: 292px;
display: flex;
justify-content: center;
}
.innersearch{
  
    max-width: 554px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

}
.innerinput{
  width: 100%;
  max-width: 554px;
  position: relative;
}
.hrr{
  border: 1px solid #FFFFFF;
  max-width: 60px;
  width: 100%;
  margin-top: 24px;
 
  
}

.details1{
  color: #FFFFFF;
  font-size: 26px;
 
}
.details2{
  color: #FFFFFF;
  font-size: 17px;
  line-height: 32.5px;
}
.btn2{
  height: 46px;
  background: #48BC25;
  border-radius: 0px 3px 3px 0px;
  color: #FFFFFF;
  border: none;
  font-size: 14px;
  cursor: pointer;
  width: 20%;
}
.input{
  height: 46px;
  padding-left: 41px;
  margin-top: 24px;
  font-size: 14px;
  border-radius: 3px 0px 0px 3px;
  border: none;
  width: 80%;
}
.footer1{
  height: 48px;
  width: 100%;
  background: #3A3A3A;
  
 display: flex;
 align-items: center;
 justify-content: center;
}
.footer1 a{
  text-decoration: none;
  color: #FFFFFF;
}
.footer3top{
  padding: 20px;
  background: #3A3A3A;
  display: flex;
  justify-content: center;
  max-height: 168px;
    height: 100%;
}
.footer3{
  
width: 100%;
max-width: 1128px;
background: #3A3A3A;
color: #FFFFFF;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.footer3 ul{
  display: flex;
  margin-top: 16px;
  flex-wrap: wrap;
  

}
.footer3 p{
  margin-top: 0;
  font-size: 13px;
}
.footer3 ul li{
 list-style-type: disc;
 margin-right: 18px;
 font-size: 13px;
}
.footer3 ul li:nth-child(1){
  list-style-type: none;
}
.lasthorizontal{
  border: 1px solid rgba(255, 255, 255, 0.4);
  max-width: 1128px;
  width: 100%;
  margin-top: 16px;
  opacity: 0.5;
}
.last ul li{
 margin-right: 43px;
 list-style-type: none;
 color: rgba(255, 255, 255, 0.5);
}
.footer2top{
  padding: 20px;
  background: #333333;
  display: flex;
  justify-content: center;
  max-height: 186px;
    height: 100%;

}
.footer2{
  width: 100%;
  max-width: 1128px;
  background: #333333;
  background: #333333;
  display: flex;
  justify-content: space-between;  
  color: #FFFFFF;
  
}
.menu{
  margin-bottom: 20px;
  font-size: 15px;
}

.inner:nth-last-child(1) .menu{
  margin-bottom: 16.15px;
}





.list .footerLogo{
  font-size: 20px;
  font-weight: 500;
}
.list li{
  margin-bottom: 8px;
  font-size: 13px;
}
.list li a{
  text-decoration: none;
  color: #FFFFFF;
}
.btn1{
  padding: 12px ;
  background: #48BC25;
  border-radius: 4px;
  color: #FFFFFF;
  border: none;
  font-size: 12px;
  white-space: nowrap;
width: 120px;
height: 40px;
cursor: pointer;

}
.top{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

/* @media screen and (max-width: 1440px) {
  .container1{
   max-width: 1128px;
  }
  .box{
   width: 264px;
 
  }
  .hrr{
   margin-left: 689px;
  }
  
  
  .section .container1:not(.topcontainer){
   margin-top: 64px;
  }
  
 } */
/* @media screen and (max-width: 1440px){
  .hamburger{
    display: none;
  }
  .container2{
    display: flex;
  }
  .twoboxes{
    display: flex;
  }
  .box{
    width: 227px;
  }
  .hrr{
    margin-left: 599px;
    width: 65px;
  }
} */
/* @media screen and (max-width: 1024px) {

 .hamburger{
  display: flex;
 }
 .navbar ul{
  display: none;
 }
 .side{
  right: 8px;
    position: absolute;
    top: 73px;
 }
 .topimg{
  z-index: -1;
 }
 .toptext{
  margin-left: 20px;
  margin-top: 100px;
 }
 .topper{
  margin-top: 0;
  margin-left: 0;
 }
 

} */
/* @media screen and (max-width: 768px) {
  .break{
    display: none;
  }
  .section{
    padding: 35px 20px 10px 20px;

  }
  .boxes{
    margin-bottom: 48px;
  }
  .container1{
    margin-top: 48px;
  }
  .container1{
   display: flex;
   flex-direction: column;
  }
  .side{
    position: absolute;
    right: 10px;
    top: 73px
      
  }
  .text{
    max-width: 575px;
    margin-top: 24px;
  }
  hr{
    width: 728px;
  }
  
  .inner ul li{
    white-space: nowrap;
  }
  .inner {
    margin-right: 70px;
}
.input{
  width: 454px;
}
  .container2{
    display: flex;
    flex-direction: column;
  }
  .twoboxes{
    display: flex;
    margin-bottom: 16px;
  }
  .twoboxes .box:nth-last-child(1){
    margin-right: 0px;
  }
  .hrr{
    width: 73px;
    margin-left: 348px;
  }
  .navbar .nav{
    display: none;
  }
  .hamburger{
    display: flex;
  }
  .bar{
    margin-right: 0px;
  }
  .topper{
    height: 441px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 77px;
  }
  .toptext{
    width: 325px;
    margin-top: 52px;
    margin-left: 20px;
    margin-right: 0;
  }
  .topimg{
    width: 390px;
    height: 341.61px;
    margin-top: 34px;
    z-index: -1;
  }
  .flame3{
    top: 0.86px;
    left: 226px;
    width: 152.55px;
    height: 152.55px;
  }
  .flame1{
    top: 59px;
    right: 140px;
    width: 186px;
    height: 171px;
  }
  .family{
    height: 320px;
    position: absolute;
    left: 72px;
  }
  .flame2{
    top: 170px;
    left: 275px;
    width: 158.71px;
    height: 144.71px;
  }
  .microscope{
    left: 116px;
  }
  .line{
    left: 126px;
  }
  .trust{
    padding: 40px 20px 20px 20px;
  }
  .innertext{
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .trusttext{
    width: 420px;
    height: 100px;
  }
  .truste{
    position: absolute;
    right: 0;
    width: 504px;
    height: 423px;
    margin-top: 242px;
  }
  .firstbottomtext{
    left: 301px;
    top: 135px;
  }
  .firstbottomtext1{
    left: 0px;
    top: 335px;
  }
  .firstbottomtext2{
    left: 299px;
    top: 592px;
  }
 } */

 /* @media screen and ( max-width: 425px ) {
  .upperpara{
    margin: 0px 50px;
  }
 } */


 

 .outer-container {
  background: red;
  /* height:500px; */
  padding:20px;
  display:flex;
  justify-content: center;
  
}
.inner-container {
  background-color: blue;
  max-width : 1128px;
  width:100%;
  /* height: 100%; */
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap:wrap;
  padding: 20px;
  position: relative;

}
.family-img{
  max-width: 561px;
  width:100%;
}

@media screen and (max-width: 1024px){
  .navbar ul{
    display: none;
  }
  .hamburger{
    display: flex;

  }
  .side{
    position: absolute;
 right: 8px;
  }
}

@media screen and (max-width: 768px){
  .container1{
    flex-direction: column;
    padding: 24px;
  }
  .text{
    margin-left: 0px;
    max-width: 532px;
    width: 100%;
    margin-top: 24px;
    
  }
  .topimg{
    max-width: 376px;
    width: 100%;
  }
  .innertopper{
    padding: 0px;
  }
  .boxes{
    flex-wrap: wrap;
  }
  
  .firstbottomtext1{
    right: 0px;
    left:0px;
  }
  .truste{
    margin-left: 123px;
  }
  .firstbottomtext{
    right: 44px;
  }
  .firstbottomtext2{
    right: 44px;
  }

}